body{
    
    background-color:lightpink;
    color: rgb(185, 230, 23);
    background-image: url(lib.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
}
#output{
    background-color: white;
    color:black;
    width:700px;
    height: 170px;

}
